div#edificiosDiv, div#transportesDiv {
    position: relative;
    display: flex;
}
div#divLevel {
    width: 20%;
}

.statsGenerales{
    width: inherit;
}

div#datosCuenta {
    display: flex;
    justify-content: space-around;
}